@{
    ViewBag.Title = "Plan - Akademia BMS";
}

<div class="jumbotron">
    <h1>Plan</h1>
    <ul>
        <li>Microsoft Azure</li>
        <li>Wdrażanie aplikacji webowych</li>
        <li>Problem: Przestój</li>
        <li>Problem: Cold start</li>
        <li>Środowisko stage'owe</li>
        <li>Automatyzacja</li>
        <li>Bibliografia</li>
    </ul>
</div>
