@{
    ViewBag.Title = "Azure - Akademia BMS";
}

<div class="jumbotron">
    <h1>Azure - zastosowania</h1>
    <ul>
        <li>Aplikacje webowe</li>
        <li>Aplikacje webowe - monitoring, testowanie</li>
        <li>Kontenery aplikacji</li>
        <li>Bazy danych</li>
        <li>Magazyny danych</li>
        <li>Maszyny wirtualne</li>
        <li>Sieć: VPN, DNS, Load balancer</li>
        <li>Active directory</li>
        <li>Wiele, wiele innych</li>
    </ul>
</div>
