@{
    ViewBag.Title = "Azure - Akademia BMS";
}

<div class="jumbotron">
    <h1>Azure - wdrażanie aplikacji</h1>

    <h2>Visual Studio</h2>
    <ul>
        <li>Wdrożenie ręczne</li>
        <li>Profile publikowania</li>
        <li>Transformacje pliku web.config</li>
    </ul>

    <h2>Continous deployment</h2>
    <ul>
        <li>Wdrożenie po każdym commicie</li>
        <li>Działa dobrze przy odpowiedniej strategii branchowania</li>
        <li>Testy jednostkowe?</li>
    </ul>
    <p><a href="https://docs.microsoft.com/en-us/azure/app-service/app-service-continuous-deployment" class="btn btn-primary btn-lg">Więcej &raquo;</a></p>
</div>
