@{
    ViewBag.Title = "Akademia BMS";
}

<div class="jumbotron">
    <h1>Microsoft Azure - Wdrażanie aplikacji</h1>
    <h2 style="text-align: center;">Michał Pawłowski</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Plan</h2>
        <p>Plan prezentacji</p>
        <p><a id="btnAgenda" type="button" class="btn btn-default" href ="@Url.Action("Agenda", "Home")">Przejdź &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Wdrażanie</h2>
        <p>Konfiguracja wdrażania aplikacji na platformę Azure przy pomocy Visual Studio i Git</p>
        <p><a id="btnDeployment" type="button" class="btn btn-default" href ="@Url.Action("Deployment", "Home")">Przejdź &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Staging</h2>
        <p>Minimalizacja czasu niedostępności aplikacji poprzez zastosowanie środowiska stage'owego</p>
        <p><a id="btnStaging" type="button" class="btn btn-default" href ="@Url.Action("Staging", "Home")">Przejdź &raquo;</a></p>
    </div>
</div>
