@{
    ViewBag.Title = "Problemy - Akademia BMS";
}

<div class="jumbotron">
    <h1>Wdrażanie aplikacji - problemy</h1>

    <h2>Niedostępność aplikacji</h2>
    <ul>
        <li>Przy większych wdrożeniach raczej nieunikniona</li>
        <li>Powinna być minimalizowana lub wyeliminowana w aplikacjach dostępnych publicznie</li>
    </ul>

    <h2>Cold start</h2>
    <p>Występuje, gdy aplikacja ładuje więcej zasobów z dysku niż z pamięci podręcznej.</p>
    <p>W szczególności:</p>
    <ul>
        <li>po restarcie systemu</li>
        <li>po włączeniu aplikacji, która przez długi czas była wyłączona</li>
        <li>po wdrożeniu nowej wersji systemu</li>
    </ul>
</div>
