@{
    ViewBag.Title = "Problemy - Akademia BMS";
}

<div class="jumbotron">
    <h1>Wdrażanie aplikacji - problemy</h1>

    <h2>Niedostępność aplikacji</h2>
    <ul>
        <li></li>
    </ul>

    <h2>Cold start</h2>
    <ul>
        <li>Wdrożenie po każdym commicie</li>
        <li>Działa dobrze przy odpowiedniej strategii branchowania</li>
        <li>Testy jednostkowe?</li>
    </ul>
    <p><a href="https://msdn.microsoft.com/pl-pl/library/windows/desktop/cc656914(v=vs.90).aspx" class="btn btn-primary btn-lg">Więcej &raquo;</a></p>
</div>
