@{
    ViewBag.Title = "Bibliografia - Akademia BMS";
}

<div class="jumbotron">
    <h1>Bilbiografia</h1>
    <ol>
        <li><a href="https://docs.microsoft.com/en-us/azure/app-service/app-service-continuous-deployment">Microsoft Docs: Continuous Deployment to Azure App Service</a></li>
        <li><a href="https://docs.microsoft.com/en-us/azure/app-service/web-sites-staged-publishing">Microsoft Docs: Set up staging environments in Azure App Service</a></li>
        <li><a href="https://msdn.microsoft.com/pl-pl/library/windows/desktop/cc656914(v=vs.90).aspx">MSDN: Application Startup Time</a></li>
        <li><a href="https://azure.microsoft.com/pl-pl/">Microsoft Azure: Products</a></li>
    </ol>
</div>
