@{
    ViewBag.Title = "Problemy - Akademia BMS";
}

<div class="jumbotron">
    <h1>Środowisko stage'owe</h1>
    <ol>
        <li>Środowisko stage'owe obok produkcyjnego</li>
        <li>Cold start na środowisku stage'owym</li>
        <li>Zmiana miejsc</li>
        <li>Prosty powrót do poprzedniej wersji aplikacji</li>
        <li>Co z bazą danych?</li>
    </ol>
    <p><a href="https://docs.microsoft.com/en-us/azure/app-service/web-sites-staged-publishing" class="btn btn-primary btn-lg">Więcej &raquo;</a></p>
</div>
