@{
    ViewBag.Title = "Problemy - Akademia BMS";
}

<div class="jumbotron">
    <h1>Środowisko stage'owe</h1>
    <ol>
        <li>Znajduje się na tym samym zasobie co środowisko produkcyjne</li>
        <li>Cold start odbywa się na środowisku stage'owym</li>
        <li>Umożliwia szybką zamianę miejscami ze środowiskiem produkcyjnym</li>
        <li>Umożliwia prosty powrót do poprzedniej wersji aplikacji</li>
        <li>Co z bazą danych?</li>
    </ol>
</div>
